body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body input, body textarea, body button {
    font-family: Arial, Helvetica, sans-serif !important;

}

.container {
    max-width: 1000px;
    margin: 0 auto;
}


/* useful classes */
.text-center {
    text-align: center;
}
.pull-right {
    float: right;
}

.inlineBlock{
    display: inline-block;
}
.display-table {
    display: table;
}


.checkbox-input *{
    vertical-align: middle;
}
.checkbox-input input{
    min-width: 50px !important;
}


.margin-l-10 {
    margin-left: 10px;
}
/* Header */

.navbar{
    background-color: turquoise;
    padding: 20px;
}

.navbar a{
    padding: 10px;
    text-decoration: none;
    color: darkblue;
    
}
.navbar a:hover, .navbar a:active, .navbar a:visited{
    text-decoration: underline;
}



/* Tasks */
.taskContainer {
    border: 1px solid lightgray;
    padding: 20px;
    margin: 10px 0px;

}
.taskContainer h5 {
    color: brown;
}


button, .button{
    padding: 20px;
    background-color:deepskyblue;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
button:hover, button:focus,
.button:hover, .button:focus{
   /* text-decoration: underline; */
    box-shadow: inset 0px 0px 10px 1px darkcyan;
    outline: none;
}


.form-container{
    border: 1px solid lightgray;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px
}

.form-control label{
    font-weight: 600;
}

.form-control input{
    margin-left: 10px;
    min-height: 23px;
    min-width: 250px;

}

.form-control textarea{
    margin-left: 10px;
    vertical-align: top;
    min-width: 250px;
    min-height: 100px;
}


.error-message {
    font-weight: 600;
    font-size: 0.7rem;
    color: red;
}
